<h1>Project#show</h1>

<%= render :partial => "project/header" %>
	<app-root></app-root>
    <script src="http://localhost:3000/dist/my-first-app/runtime.js" defer></script>
    <script src="http://localhost:3000/dist/my-first-app/polyfills.js" defer></script>
    <script src="http://localhost:3000/dist/my-first-app/styles.js" defer></script>
    <script src="http://localhost:3000/dist/my-first-app/vendor.js" defer></script>
    <script src="http://localhost:3000/dist/my-first-app/main.js" defer></script>
<%= render :partial => "project/footer" %>